@font-face {
  font-family: "DigitalNumbers";
  src: url("/DigitalNumbers-Regular.ttf") format("truetype");
}

body,
html {
  background-color: #000000;
  height: 100%;
  margin: 0;
}

.tfs-1 {
  font-size: 23vw !important;
}

.tfs-2 {
  font-size: 10vw !important;
}

.time-display {
  font-family: 'DigitalNumbers' !important;
}

.time-display span {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.bright-red {
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.bright-white {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.bright-green {
  color: #00ff00;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.blink {
  -webkit-animation: blink-animation 1s steps(1, start) infinite;
  animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}